# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
+ Intro Data Science Tools
+ Data Science Libraries
+ Data Science Languages

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

## Some of the commonly used libraries used by Data Scientists include:
1. Scikit learn
2. Matplot lib
3. Caret

| Data Science Tools      |
| ----------------------- |
| Tool 1 (e.g., Python)   |
| Tool 2 (e.g., R)        |
| Tool 3 (e.g., Jupyter)  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
UbaidUllah